.transparent 
{background-color: rgba(213, 214, 218, 0.683);
  left: 0;
  bottom: 0;
   }
.swap {
      background-color:rgb(202, 149, 85) ; 
      border: none; 
    }

    .checkbox{
      display: none;
    }
    
    
    .dots {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color:    hsla(180, 7%, 82%, 0.879);
      border: none;
    }
    
   .activee{
    background-color:    hsla(180, 7%, 70%, 0.879);

   }