<div class="row align-items-center mt-5">
    <div class="col  ms-5">
        <h3 class="fw-semibold "> {{welcomemsg}}
        </h3>
    </div>
    <div class="col-auto me-5 ">
        <button class="btn btn-success btn-sm text-center py-1 me-4" style="width: 150px;"> New Request</button>
    </div>
</div>

<div class="container ps-0 pt-0  ">
  <div class="row  mt-5">
    <!-- Profile Section -->
    <div  class="col-sm-12 col-md-6 col-lg-7 border-bottom border-2 bgcol  shadow-lg  rounded-4 mb-5 py-2">
      <div class="row align-items-center ">
        <div class="col-auto ps-3 pt-2 d-flex ">
          <img src="./assets/profile.jpeg" alt="Profile Image" class="profile-image img-fluid rounded-circle">
        </div>
        <div class="col pt-2 ps-1">
          <p class="mb-0 ff ">Ahmad Azmi</p>
          <p class="mb-0 text-secondary f">Junior Accounting Officer</p>
        </div>
        <div class="col-auto me-1 d-flex align-items-center">
          <a class="btn btn-outline-success bg-light fw-semibold btn-sm px-5" href="profilepage.html">View Profile</a>
        </div>
      </div>
      <div class="row mt-4 mb-2 ms-0  ">
        <div class="col-md-4 d-flex align-items-center ">
          <div class="col-auto text-secondary me-4">
            <i class="fa-solid fa-user fa-3x"></i>
          </div>
          <div class=" mt-2">
            <h6 class="mb-0 fs-8 fw-bold">Reporting To:</h6>
            <p class="mb-0 text-secondary">Salwa Assem</p>
          </div>
        </div>
        <div class="col-md-4 d-flex align-items-center">
          <div class="col-auto text-secondary me-4">
            <i class="fa-solid fa-chart-simple fa-3x"></i>
          </div>
          <div class="  mt-2">
            <h6 class="mb-0 fs-8 fw-bold">Corporate Level:</h6>
            <p class="mb-0 text-secondary">Level 10</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Cards -->
    <div class="col-sm-12 col-md-6 col-lg-5 d-flex flex-warp">
        <div id="card1" class="bg-success text-light rounded-4 d-flex h-75 align-items-center  border-1 border-dark  shadow-lg ms-3  px-4 py-5">
          <div class="text-center px-2 w-50">
            <i class="fa-solid fa-list-check  fa-3x"></i>
            <p class="mb-0  mt-2  sfont">Vacation Requests</p>
          </div>
          <h1 class="mb-0 ps-3 bigfont align-self-center">10</h1>
        </div>
        <div id="card2" class="bg-success text-light rounded-4 d-flex h-75 border-2 border-dark   shadow align-items-center  ms-4 px-4 py-5">
          <div class="text-center w-50 px-2">
            <i class="fa-solid fa-list-check  fa-3x"></i>
            <p class="mb-0 mt-2 text-center sfont"> Leave Requests</p>
          </div>
          <h1 class="mb-0 ps-3 bigfont align-self-center">10</h1>
        </div>
      </div>
    </div>
  </div>